body, h1, h2, h3, h4, a, p, ul, td, tr, input, textarea {
    padding: 0;
    margin: 0 auto;
}

body, input, textarea {
    font-family: 'Montserrat', sans-serif;
}

h1,h2, h4 {
    font-family: 'Francois One', sans-serif;
}

h1 {
    font-size: 72px;
    width: 306px;
    height: 86px;
}

h2 {
    font-size: 48px;
    height: 48px;
}

h3 {
    font-size: 36px;
    font-weight: 900;
    height: 40px;
}

.first-h3 {
    text-transform: none;
    color: #FFA938;
}

h4 {
    font-size: 34px;
    width: 611px;
    height: 48px;
}

h6 {
    font-size: 18px;
    font-weight: 700;
    height: 20px;
    text-decoration: none;
    color: #000000;
}

p {
    font-size: 14px;
    text-align: justify;
    line-height: 22.74px;
    font-weight: 400;
    color: #000000;
}

a {
    font-size: 18px;
    font-weight: 700;
    height: 20px;
    text-decoration: none;
    color: #ffffff;
}

h1, h2, h3, h4 {
    color: #FF6738;
}

h1, h2, h3, a {
    text-transform: uppercase;
}

.clearfix {
    clear: both;
    margin: 0 auto;
}

.wrapper {
    width: 1024px;
    margin: 0 auto;
}
/*-HEADER - CLASS -------------------------------------------------------------*/
.rect-orange {
    background-color: #FF6738;
    height: 9px;
}

.fl-left {
    float: left;
}

.fl-right {
    float: right;
}

/*-HEADER -------------------------------------------------------------*/
.backg-color {
    background-color: #FFD59E;
    height: 147px;
}

#header > div > div > h4 {
    margin: 21px 65px 7px 20px;
}

#header > div > div > .rect-orange {
    width: 676px;
}

/*-HEADER - NAVIGATION -------------------------------------------------------------*/
#nav {
    background-color: #FF6738;
    line-height: 46px;
}

#nav, ul {
    height: 46px;
}

#nav > ul > li {
    display: inline-block;
}

#nav > ul > li:first-child {
    margin-left: 86px;
}

#nav > ul > li > a,
#nav > ul > li > a:active,
#nav > ul > li > a:visited,
#nav > ul > li > a:focus {
    padding: 12px 8px;
}

#nav > ul > li > a:hover {
    background-color: #ffffff;
    color: #FF6738;
}

/*-HEADER - IMAGE -------------------------------------------------------------*/
#img-header {
    background-image: url(/images/work-5382501_1920.jpg);
    width: 1024px;
    height: 300px;
}

/*-SECT 1 - EFFIX EST LA -------------------------------------------------------------*/
#img-group {
    background-image: url(/images/2paper-3309829_1920.jpg);
    width: 327px;
    height: 297px;
    margin-right: 6px;
}

#sect1 > article {
    margin-top: 20px;
}

#sect1 > article > h3 {
    width: 473px;
    padding-left: 15px;
}
#sect1 > article > p {
    width: 644px;
}

#sect1 > article > .rect-orange {
    width: 671px;
    margin-top: 11px;
}

/*-SECT 1 - EFFIX EST LA CLASS -------------------------------------------------------------*/
.pad-col {
    padding: 11px 0 7px 0;
}

/*-SECT 2 - LE FONDATEUR -------------------------------------------------------------*/
#fondateur {
    background-image: url(/images/business-suit-690048_1920.jpg);
    height: 364px;
}

#fondateur > h3 {
    height: 63px;
    position: relative;
    top: 311px;
    left: 698px;
}

#sect2 {
    background-color: #FFD59E;
}

#contain {
    padding: 21px 86px 14px 86px;
}
/*-SECT 2 - LE FONDATEUR CLASS -------------------------------------------------------------*/

.col1, .col2 {
    width: 415px;
}

.col1 {
    margin-right: 11px;
}

.col2 {
    margin-left: 11px;
}

.disp {
    display: inline-block;
}

/*-SECT 3 - NOS SERVICES CLASS POUR TITLE -------------------------------------------------------------*/

.bigrect {
    background-color: #FF6738;
    width: 710px;
    height: 54px;
    margin-top: 22px;
}

.mrg-lft {
    margin-left: 22px;
}

.mrg-rgt {
    margin-right: 22px;
}

.top7 {
    margin-top: 7px;
}

.contain-title {
    width: 100%;
    height: 76px;
    padding-top: 20px;
    position: relative;
}

.left86 {
    left: 86px;
}

.right86 {
    right: 86px;
}

/*-SECT 3 - CLASS GÉNÉRALES -------------------------------------------------------------*/
.pad-sect {
    padding: 11px 20px 7px 20px;
}

.top52 {
    margin-top: 52px;
}

/*-SECT 3 - NOS SERVICES -------------------------------------------------------------*/
#sect3 > article > div > p {
    width: 482px;
    height: 234px;
}

#sect3 > article > div > h3 {
    margin-left: 15px;
}

#sect3 > article {
    height: 292px;
}

.images {
    width: 502px;
    height: 292px;
}
/*-NOS SERVICES - IMAGES -------------------------------------------------------------*/
#gestion {
    background-image: url(/images/training-3185170_960_720.jpg);
}

#dev {
    background-image: url(/images/man-1351761_960_720.png);
}

#hebergement {
    background-image: url(/images/cloud-3406627_1920.jpg);
}

/*-TABLEAU ---------------------------------------------------------------------------*/
table, td, th {
    border: 2px solid #ffffff;
    text-align: center;
    border-collapse: collapse;
}

td {
    font-size: 10px;
    padding: 5px;
    text-align: center;
    background-color: #FFD59E;
}

.typeservices {
    color: #FFA938;
    background-color: #ffffff;
    text-align: left;
    padding: 10px 28px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 16px;
}

th {
    width: 200px;
    font-size: 20px;
    padding: 0 10px;
    font-family: "francois one";
    text-transform: uppercase;
    background-color: #FFA938;
    color:#ffffff;
}

.avantage {
    text-align: left;
    width: 400px;
}

.table-txt {
    font-size: 15px;
}
/*-FORMULAIRE ---------------------------------------------------------------------------*/
input, textarea {
    background-color: #FFD59E;
    border: none;
    font-size: 24px;
    text-transform: uppercase;
    border-radius: 5px;
}

input {
    height: 66px;
}

::placeholder {
    color: #b7b7b7;
}

textarea::placeholder, ::placeholder {
    padding: 18px 0 0 18px;
}

textarea {
    width: 975px;
    height: 285px;
    resize: none;
}

input:first-child {
    width: 396px;
    margin-right: 20px;
}

input:last-child {
    background-color: #FF6738;
    width: 310px;
    height: 86px;
    font-weight: 700;
    color: #ffffff;
    text-transform: none;
    text-align: center;
    margin-top: 31px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    position: relative;
    left: 626px;
}

#prenom {
    width: 560px;
}

#courriel, #telephone {
    width: 656px;
}

.top35 {
    margin-top: 35px;
}

#formulaire {
    padding: 20px;
}

#sect3, #sect4, #sect5, .footcontain {
    overflow: hidden;
}

/*- FOOTER ---------------------------------------------------------------------------*/
footer {
    background-color: #c4c4c4;
    height: 285px;
}

.width-change {
    width: 621px;
}

.p-foot {
    font-weight: 700;
    font-size: 18px;
    margin-left: 66px;
}

.p-foot:last-child {
    margin-top: 11px;
}


